.container .main-banner {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 365px;
    position: relative;
    z-index: 0;
    background-image: url('../img/bg_1.jpg');
}

.container .main-banner .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0.2;
}

.container .main-banner .main-banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .main-banner .breadcrumbs {
    margin: 0;
    color: #ddd;
}

.container .main-banner .breadcrumbs .link {
    color: #fff;
    text-decoration: none;
}

.container .main-banner .breadcrumbs .link:hover {
    color: #000;
}

.container .main-banner .main-title {
    font-size: 45px;
    line-height: 80px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.container .main-blog-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .main-blog-container .blog-item {
    display: flex;
    gap: 20px;
}

.container .main-blog-container .blog-item .item-content {
    display: flex;
    flex-direction: column;
}

.container .main-blog-container .blog-item .item-title {
    font-size: 21px;
    line-height: 32px;
    font-weight: 500;
}

.container .main-blog-container .blog-item .item-description {
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #666;
}

.container .main-blog-container .blog-item .btn-detail {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 24px;
    border: 1px solid #c74b25;
    background-color: #c74b25;
    border-radius: 50px;
    color: #fff;
    width: fit-content;
}

.container .main-blog-container .blog-item .item-img {
    width: 40%;
}

.container .main-blog-container .blog-item .item-content {
    width: 60%;
}

.container .main-blog-container .blog-item .item-img img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
}

/* responsive */
@media(max-width:767px) {
    .container .main-banner {
        height: 250px;
    }
    .container .main-blog-container{
        padding: 30px;
        gap: 20px;
        grid-template-columns:1fr;
    }
    .container .main-blog-container .blog-item .item-title{
        font-size: 16px;
        line-height: 24px;
    }
    .container .main-blog-container .blog-item .item-description{
        font-size: 13px;
        line-height: 18px;
        margin: 8px 0;
    }
    .container .main-blog-container .blog-item .item-title,
    .container .main-blog-container .blog-item .item-description{
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
    }
    .container .main-blog-container .blog-item .btn-detail{
        padding: 6px 18px;
    }
}   