.container {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    padding: 30px;
    gap: 30px;
}

.content-container {
    max-width: 430px;
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
}

.content-container .form {
    padding: 2rem;
}

.form header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    outline: none;
}

.form input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
    font-size: 16px;
    color: #c74b25;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form input.button {
    color: #fff;
    background: #c74b25;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}

.form input.button:hover {
    background: #c74b25;
}

.signup {
    font-size: 17px;
    text-align: center;
}

.signup label {
    color: #c74b25;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}